<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Controle de Livros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Categoria</th>
            <th scope="col">Nº Páginas</th>
            <th scope="col">Ano de Publicação</th>
            <th scope="col">Tipo</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <th scope="row" th:text="${book.id}"></th>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.category}"></td>
            <td th:text="${book.pages}"></td>
            <td th:text="${book.yearPublication}"></td>
            <td th:text="${book.type}"></td>
            <td>
                <a th:href="@{/books/remove/{id}(id=${book.id})}" onclick="return confirm('Tem certeza que deseja excluir este filme?')" style="text-decoration: none; color: inherit">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="books/add-book">Adicionar Livro</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>